manifest {
    author = 'Saugat Poudel'
    name = 'riborid-global'
    homePage = ''
    description = 'Running riborid design on all bacterial genbank'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version = '0.1'
}

params {
    trace_dir = './trace/'
}

profiles {
    local {
        includeConfig 'conf/user.config'
        includeConfig 'conf/local.config'
    }
}

//Enable process tracking
/** timeline {
    enabled = True
    file = "${params.trace_dir}/timeline.html"
}

report {
    enabled = True
    file = "${params.trace_dir}/report.html"
}

trace {
    enabled = True
    file = "${params.trace_dir}/trace.txt"
}

dag {
    enabled = True
    file = "${params.trace_dir}/dag.dot"
} **/

