process {
    executor = 'local'
    withLabel: small {
        cpu: 1
        memory: '500 MB'
    }
    withLabel: medium {
        cpu: 4
        memory: '4 GB'
    }
    withLabel: large {
        cpu: 8
        memory: '8 GB'
    }
    withLabel: stage {
        storeDIR = "stage/${params.stagedir}"
    }

}
